@font-face {
    font-family: Rouble;
    src: url(Rouble.eot);
    src: local('Rouble'), local('Rouble'),
    url(rouble.otf) format('opentype');
}

html, body {
    background-color: #f4f2ed;
    font-family:'Fira Sans', sans-serif;
    font-size:14px;
    line-height:1.4;
    margin: 0px;
    margin-top: -10px;
    text-align: center;
}

.inline {
    display: inline-block;
}

h1 {
    font-size: 3.0em;
    font-weight: 500;
    margin-bottom: 0;
    margin-left: 30px;
}

h3 {
    font-weight: 400;
    margin-top: 0;
    font-size: 1.5em;
    font-family: 'PT Sans Narrow';
}

section {
    text-align: left;
    padding-bottom: 20px;    
}

.fullwidth {
    margin-left: auto;
    margin-right: auto;
   width: 960px;
   padding: 0px;
}

#calculator {
    min-height: 360px;
}

#errors {
    margin-left: 40px;
    margin-top: 20px;
}

.popup {
    position: absolute !important;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding: 0px;
    text-align: center;

    display: block;
    top: 200px; 
    left: 15%;
    padding: 5px; 
    margin: 10px; 
    z-index: 12;
}

.popup .tabs ul {
    background-size: 500px 33px;
}

.popup .tabbar .near-selected {
    background-color: transparent;
}

.popup .tabs .right-to-active {
 border-radius: 10px 10px 0 0; 
}
.popup .tabs .left-to-active {
 border-radius: 10px 10px 0 0; 
}

.popup .outer-tabbar-left, .popup .outer-tabbar-right {
    width: 80px;
    background-color: transparent;
}

.popup .outer {
    background-color: transparent !important;
}

.popup .files a {
    vertical-align: top;
    margin: 10px;
}

.popup .files {
    margin-top: 20px;
    margin-left: 30px;
}

.popup .notes {
    font-size: 0.9em;
}

.popup table {
    font-size: 1.2em;
    margin-left: 10px;
    border-collapse: collapse;
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 2px;
}

.popup thead th, .popup tr.last_row td {
    /*padding: 2px 0;*/
    border-bottom: 1px #DDDDDD solid;
    padding-bottom: 10px;
}

.popup tr td {
    padding: 5px;
}

.popup tr.last_row td {
    padding-left: 10px;
}

.popup h3 {
    font-family:'Fira Sans', sans-serif;
    font-size: 2em;
    margin: 20px;
}

.popup .subtitle {
    font-size: 1.5em;
    margin: 0 0px 10px 20px;
}

.popup .var {
    margin: 5px 0 10px 10px;
    padding-top: 3px;

}

.popup .var.active {
        color: white;
    border: 1px #009b3a inset;
    padding-left: 10px;
    padding-right: 10px;


    /*background-color: #066386;*/
    /*background-color: #1a799d;*/
    border-radius: 5px;
    background-color: #009b3a;
}

.rouble {
    font-family: 'Rouble';
}

.total.rouble {
    line-height: 75px;
}

#dep {
    padding-top: 130px;
    text-align: left;
    height: 150px;    
    background-size: 182px auto;
    background-repeat: no-repeat;
    background-position: right bottom;
}

#dep h3 {
letter-spacing: .03em;
}


.link, a, a:visited, a:active {
    color: black;
    text-decoration: none;
    padding-bottom: 0;
    border-bottom: 1px black dashed;
}

.link:hover, a:hover {
    border-bottom: 1px black solid;
}

hr {
    height: 1px;
    border: none;
    background-color: #999999;
    width: 90%;
}

nav a, nav a:visited, nav a:active {
    color: white;
    text-decoration: none;
    border-bottom: 1px white dashed;
}

nav a:hover {
  color: white;
  padding-bottom: 0;
  border-bottom: 1px white solid;
}

header {
    background-color: #009b3a;
    height: 120px;
    min-width: 960px;
    width: 100%;
    position: absolute;
}

.right-bottom-corner {
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 1.1em;
    
    display: block-inline;
}

.right-bottom-corner a, .right-bottom-corner div {
    vertical-align: top;
    margin: 10px;
}

.right-bottom-corner div {
    vertical-align: top;
    margin-top: 3px;
}


.right-bottom-corner img {
    margin-top: -3px;
    margin-bottom: 10px;
}

.right-bottom-corner span {
    width: 26px;
    display: inline-block;
}

#menu {
    padding-top: 30px;
}

label.left-label {
    width: 200px;
    text-align: right;
    font-size: 1.2em;
    display: inline-block;
    padding: 4px;
}

input[type=text], textarea, select{
    border-radius: 5px;
    
    line-height:23px;
    border: 1px solid #009b3a;
 /* background-color: #64df77; */
	background-color: #ffffff;
    padding-left: 10px;
    font-size: 1.05em;
/*    color: white; */
	color: black;
}

input[type=text], select{
    width: 170px;
    height:26px;
}

select.time {
    width: 100px !important;
    height: 30px;
}

input[type=text].date {
    width: 120px;
}

input[type=button] {
/*_resetting properties to keep style consistency between browsers_*/
    -webkit-appearance: none; /*Safari/Chrome*/
    -moz-appearance: none; /*Firefox*/
    -ms-appearance: none; /*IE*/
    -o-appearance: none; /*Opera*/
    appearance: none;
/*____*/
	
    -webkit-border-radius: 0; 
    border-radius: 5px;
    color: white;
    background-color: #009b3a;
    font-size: 1.1em;
    border: none;
    color: white;
    line-height: 28px;
    padding-left: 25px;
    padding-right: 25px;
}

.center {
    text-align: center;
}

.info-label {
    width: 170px;
     display: inline-block;
}

.change-currency {
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    padding-bottom: 0px;
    border-bottom: 1px black dashed;
}

.selected {
    padding-left: 15px;
    padding-right:15px;
    padding-top: 3px;
    color: white !important;
    border: 1px #009b3a inset !important;
    /*background-color: #066386;*/
    /*background-color: #1a799d;*/
    border-radius: 5px;
    background-color: #009b3a;
}

#currency_add{
    margin: 5px;
}

.total {
    font-size: 5em;
    font-weight: 400;
    vertical-align: top;
    margin-left: 20px;
}

.total-label {
    margin-top: 15px;
}
select {
    height:28px;
    width: 183px !important;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+Cjxzdmcgd2lkdGg9IjE2IiBoZWlnaHQ9IjE2IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgoKIDxtZXRhZGF0YT5pbWFnZS9zdmcreG1sPC9tZXRhZGF0YT4KIDxnPgogIDx0aXRsZT5iYWNrZ3JvdW5kPC90aXRsZT4KICA8cmVjdCBmaWxsPSJub25lIiBpZD0iY2FudmFzX2JhY2tncm91bmQiIGhlaWdodD0iNDAyIiB3aWR0aD0iNTgyIiB5PSItMSIgeD0iLTEiLz4KIDwvZz4KIDxnPgogIDx0aXRsZT5MYXllciAxPC90aXRsZT4KICA8ZyBpZD0ic3ZnXzEiIGZpbGw9IiNmZmYiIGNsYXNzPSJ1aS1kcm9wZG93bi1zdmciPgogICA8cGF0aCBmaWxsPSIjMDA5YjNhIiBpZD0ic3ZnXzIiIGQ9Im0xLjUsMC40OWw2LjQ5LDQuOTlsNi40OSwtNC45OWwwLDMuOTlsLTYuNTA5OTk5LDQuOTlsLTYuNDksLTQuOTlsMC4wMiwtMy45OXoiLz4KICAgPHBhdGggZmlsbD0iIzAwOWIzYSIgaWQ9InN2Z18zIiBkPSJtMS40OCw2LjUybDYuNDksNC45ODk5OTlsNi40OSwtNC45ODk5OTlsMCwzLjk4OTk5OWwtNi41Myw0Ljk0MDAwMWwtNi40OSwtNC45NDAwMDFsMC4wNCwtMy45ODk5OTl6Ii8+CiAgPC9nPgogPC9nPgo8L3N2Zz4=) no-repeat right center #ffffff;
    background-size: 15px;
	background-position: 98%;
    -webkit-appearance: none;
}

#logo {    
    margin-left: 10px;
    float: left;
}
#logo img {
    margin-top: 10px;
    margin-right: 5px;
}

#phone {
    font-family: 'PT Sans Narrow', sans-serif;
    color: white;
    margin-right: 15px;
    margin-top: -5px;
    float:right;
    font-weight: 700;
    font-size: 2.2em;
}

header li{
    list-style-type: none;
    float: left;
    font-weight: 400;
    /*margin-left: 5px;*/
    font-size: 1.4em;
}

header li a {
    margin-left: 40px;
}

.block {    
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    padding-bottom: 20px;
}

.block-dep-info {
    /*background-color: #c2f8cb;*/
    /*background-color: #bfedf4;*/
    background-color: #eef2f0;
    margin: 5px;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: left;
	min-height: 180px;
    
}

.display-none {
    display: none;
}

.block-dep-info img {
    float: left;
    margin-left: 5px;
}

.block-dep-info h3 {
    text-align: center;
}

.block-dep-info a {
    /*font-size: 0.9em;*/
    font-family: 'PT Sans Narrow';
    margin: 5px;
    vertical-align: center;
	margin-left:20px;
	position:relative;
	top:8px;
}

.outer-tabbar-left, .outer-tabbar-right {
    float: left;
    width: 328px;
    
    
    height: 33px;
    overflow: hidden;
    position: relative;
    z-index: 10;
    background-color: #dddddd;
}

.tabbar .near-selected {
    background-color: #ffffff;
}

.outer-tabbar-left .outer{
    /*margin-left: auto;*/
    background-color: #f4f2ed;
    border-radius: 0 0 10px 0;
    height: 33px;
}

.outer-tabbar-right .outer{
    /*margin-right: auto;*/
    background-color: #f4f2ed;
    border-radius: 0 0 0 10px;
    height: 33px;
}

.tabbar {
    height: 33px;
    text-align: center;
    /*margin: auto;*/
    /*display: inline-block;*/
}

.tabs {
    /*width: 400px;*/
    margin-top: 30px;
}

.tabs ul{    
    padding: 0px !important;
    float: left;
    list-style-type: none;
    text-align: center;
    padding: 5px;
    margin: 0;
    /*width: 200px;*/
    /*background-color: white;*/
    background-size: 100px 33px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/tab-background.png);
    font-size: 1.1em;
    height: 33px;
}

.tabs .left-to-active{
    border-radius: 10px 10px 10px 0;
}

.tabs .right-to-active{
    border-radius: 10px 10px 0 10px;
}

.tabs li {
    float: left;
    background-color: #ddd;
    
    display: block;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
}

.tabs a {
    border: none;
    padding: 0px;
}

.tabs .active {  
    border-radius: 10px 10px 0 0;  
    background-color: #ffffff;
}

#visit-offices-button {
    margin-top: 20px;
    font-size: 1.3em;
}

.col-1-3 {
    width: 33.3%;
    float: left;
}

#img-insured {
    float: right;
}
/*#tabs{
	height:30px;
	list-style:none;
	margin:0px auto;
	padding:0px;
	padding-right:30px;
	padding-left:10px;
	width:440px;
}
#tabs li{
	display:block;
	float:right;
	margin:0px;
	padding:0px;
	position:relative;
	overflow:visible;
	text-align:center;
	width:110px;
}
#tabs li a{
	background:url(images/tab.png);
	color:#dbdbdb;
	display:block;
	font:normal 14px arial;
	height:16px;
	margin:0px -10px;
	padding:7px 20px;
	position:relative;
	text-decoration:none;
	width:90px;
}*/

#offices {
    padding-top: 20px;
    
    /*margin-bottom: 20px;*/
}

#offices h1 {
    font-size: 2.5em;
}

.white-background {
    width: 100%;
    background-color: white;
}

.beige-background {
    width: 100%;
    background-color: #f4f2ed;
}

.feedback h2 {
    font-weight: 400;
    font-size: 2.1em;
    margin-left: 20px;
    margin-bottom: 5px;
}

#feedback {
    padding-top: 20px;
}

.feedback-form{
    width: 60%;
    display: inline-table;
    text-align: left;
    font-size: 16px;
    /*background-color: #e7e7e7;*/
    background-color: #eef2f0;
    border-radius: 10px;
    padding: 20px;
    float:left;
    margin-right: 20px;
    margin-bottom: 30px;
}

/*.feedback-form input[type=button] {
    text-align: right;
    display: inline-block;
}*/

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.feedback-form textarea {
    width: 576px;
/*    margin-right: 20px;
*/}

label.feed-label {
    width: 130px;
    /*text-align: right;*/
    font-size: 1.2em;
    display: inline-block;
    padding: 4px;
}

label.feed-label div {
    display: inline-block;
	color: black;
}

/*#area-field{
    margin: 5px;
    position: center;
}*/

#img-calendar{
    margin-bottom: -9px;
}
footer{
    height: 100px;
/*    margin-top: 30px;
    margin-right: 40px;*/
    margin: 0px;
/*    margin-top: 0;
    margin-bottom: 0;*/
    /*padding: 10px 30px 10px 30px;*/
    text-align: left;
    color: #555555;
    font-size: 0.9em;
    padding-top: 10px;
    /*font-size: 14px;*/
}

#info-block{
    padding-right: 30px;
    margin-right: 60px;
    margin-top: -300px;
}
.call{
    text-align: left;
    padding-left: 30px;
}

.call h1 {
font-weight: 700;
font-size: 2.8em;
}
.call h2{
    margin-top: 0;
    font-weight: 400;
    font-size: 1.1em;

}
.call h3{
    margin-top: 18px;
    font-size: 1.6em;
    line-height: 1em;
    vertical-align: middle;
	position: relative; 
	left:10px;
	letter-spacing: .04em;
}

footer p {
    margin-left: 30px;
}

footer .filler {
    width: 20%;
    float: left;
    height: 100px;
}

footer .icon {
    /*margin: 5px;*/
    display: inline-block;
    width: 33px;
    margin: 5px;
    text-align: center;
}

footer .icon-label {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}
#name-field{
    width: 434px;
}
#img-24{
    float: left;
}
.bank-info li{
    line-height: 70%;
    color:#64df77;
    font-size: 2em;
}
.bank-info li span{ 
    color: black;
    font-size: 0.5em;
    padding-bottom: 10px;
}

#first-col h1{
    margin-bottom: 40px;
}
/*#second-col h1{
    font-size: 2.7em;
}*/
#first-col li{
       margin:20px;
	   
}
#second-col li{
    margin: 7px;
}

#second-col h2{
    margin-bottom: 0px;
}

#third-col li {
	margin-bottom: 40px;
	margin: 7px;
}

#third-col h1{
    margin-bottom: 40px;
}

#img1{
    float:left;
    margin-left: 20%;
}
#img2{
    float:right;
    margin-right: 10px;
    display: inline;
    width: 30%;
}
.garant h2{
    margin-left: 20%;
}
.garant{
    height: 200px;
    margin:30px;
}
#img-ins{
    margin: 10px 40px 0 -15px;
    float:left;
}
.img11{
    margin-left:10px;
    float:left;
    padding: 10px;
    margin-top: -10px

}
.garant a{
    vertical-align: middle;

}

.bank-info li {
    margin-top: 7px;
}
.bank-info h1 {
    margin-left: 0;
 /*   margin-top: 30px; */
	margin-top: 0px;
    font-size: 2.3em;
}

.bank-info h2 {
    font-size: 1.8em;
    font-weight: 400;
    margin-top:0;
}

#locations {
    text-align: center;
    cursor: pointer;
    font-size: 1.2em;
    margin: 10px;
}

.location {
    border-bottom: 1px #AAAAAA dashed;
    line-height: 15px;
    margin: 5px;
}

#map {
    border: 1px #CCCCCC solid;
    padding: 15px;
    border-radius: 5px;
    float: left;
    margin: 0 20px 30px 0;
    width: 600px; 
    height: 600px;
}

#location-offices {
    float: right;
    width: 300px;
    line-height:0.8em;
}

.cluster-content {
    color: white;
    font-size: 2em;
    margin-top: -13px;
    padding-left: 30px;
}

#location-offices .selected{ 
    border: none !important;
    color: black !important;
    /*background-color: #64df77;*/
    background-color: #eef2f0;
	line-height:130%;
/*    padding-left: 10px;
    font-size: 1.05em;
    color: white;*/
}

#location-offices .selected .location {
    font-weight: 700;
}

#location-offices .address{
    font-family: 'PT Sans Narrow';
    font-size: 1.4em;
}

#location-offices .phone{
    font-size: 1.5em;
    font-weight: 700;
    line-height: 0.7em;
}

#location-offices .operation-time{
    line-height: 0.7em;
    margin-left: 10px;
}

.ui-datepicker-trigger {
    width: 27px;
    vertical-align: middle;
    margin-left: 4px;

}

.overlay {
    position:fixed;
    display:none; 

    /* color with alpha channel */
    background-color: rgba(0, 0, 0, 0.7); /* 0.7 = 70% opacity */

    /* stretch to screen edges */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 11;
}